<div class="fixed-action-btn"> 
    <div class="theme-container  btn-floating btn-large yellow pulse" style="bottom: 13.5%;">
    <img id="theme-icon"    src="https://www.uplooder.net/img/image/2/addf703a24a12d030968858e0879b11e/moon.svg" alt="ERR">
    </div>
</div>
