<footer class="page-footer light-blue darken-4">
    <div class="container">
        <div class="row">
            <h2 class="teel-text text-accent-3"> <i class="fas fa-qrcode prefix"></i> Acerca de nosotros</h2>
        </div>

        <div class="row">
            <div class="col l6 s12">
                <h3 class="white-text">Visión</h3>
                <p class="grey-text text-lighten-4">Nuestra visión para el año 2027 es ser líder en seguridad de dispositivos electrónicos mediante códigos QR en las Universidades del Perú, protegiendo y fortaleciendo la seguridad universitaria.</p>
            </div>
            <div class="col l6 s12">
                <h3 class="white-text">Misión</h3>
                <p class="grey-text text-lighten-4">Nuestra misión es brindar un servicio de seguridad confiable y eficiente para la protección de dispositivos electrónicos de nuestros usuarios mediante el uso de códigos QR. </p>
            </div>
        </div>
        <div class="row">
            <div class="col l6 s12">
                <h3 class="white-text"> ¿Qué hacemos?</h3>
                <div class="video-container">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col l6 s12">
                <h3 class="white-text">Contactanos</h3>
                <ul >
                    <li><a href="#!" class="white-text"><i class="fa-brands fa-google" style="color: #00ff9d;"></i> Gmail</a></li>
                    <li><a href="#" class="white-text"><i class="fa-brands fa-facebook" style="color: #0058f0;"></i> Facebook</a></li>
                    <li><a href="#" class="white-text"><i class="fa-brands fa-linkedin" style="color: #003694;"></i> LinkedIn</a></li>
                    <li><a href="#!" class="white-text"><i class="fa-brands fa-instagram" style="color: #ff00ae;"></i> Instagram</a></li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class="footer-copyright">
    <div class="container">
    © 2023 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
    </div>
</footer>