




<nav class="blue darken-3"> 
    <a href="/dashboard" class="brand-logo center">QR Devices</a>
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
    
    <div class="nav-wrapper container">
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="/public/images/nacional.jpg">
                    </div>


                    <img  class="circle" href="{{photo}}" alt="">
                    <a href="#name" class="black-text name">{{ name }}</a>
                    
                    
                    
                    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div>
            </li>

            <li><a href="/devices"><i class="fa fa-pen-to-square fa-2xl" style="color: #4e6fa6;"></i>My devices</a></li>

            <li><a href="/dashboard"><i class="fa fa-house-laptop fa-2xl" style="color: #4e6fa6;"></i>Dashboard</a></li>

        
            <li><div class="divider"></div></li>
            <li><a class="subheader">Settings</a></li>

            <li><a class="waves-effect" href="#!"><i class="fa fa-eye-low-vision fa-2xl" style="color: #4e6fa6;"></i>Facial recognition</a></li>
            <li><a class="waves-effect" href="#!"><i class="fa fa-qrcode fa-2xl" style="color: #4e6fa6;"></i>Generate QR</a></li>
            <li><a class="waves-effect" href="#!"><i class="fa fa-address-card fa-2xl" style="color: #4e6fa6;"></i>Edit profile</a></li>
            
            <li><div class="divider"></div></li>
            <li><a class="subheader">Account</a></li>
            
            <li><a class="waves-effect" href="/auth/logout"><i class="fa fa-arrow-right-from-bracket fa-2xl" style="color: #4e6fa6;"></i>Logout</a></li>
            
        </ul>

    </div>

    

    

</nav>


