<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled font-awesome cdnjs CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Compiled style.css CSS -->
    <link rel="stylesheet" href="/css/style.css">
   
    <title>QR Devices Login</title>
</head>

<body>
    


    <nav class="nav-extended light-blue darken-4">
        <div class="nav-wrapper">
        <a href="#" class="brand-logo">   <i class="fa-solid fa-qrcode"></i> QR Device</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html"  class="btn waves-effect waves-yellow grey-text text-darken-4" style="background-color: #ECF8F9;">Scanear</a></li>
            <li><a href="#contac"  class="btn waves-effect waves-purple grey-text text-darken-4" style="background-color: #ECF8F9;">Quiero un servicio</a></li>
            <li><a href="#login"  class="btn waves-effect waves-green grey-text text-darken-4" style="background-color: #ECF8F9;">Inicia sesión</a></li>
        </ul>
        </div>
        <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#about_us">Acerca de nosotros</a></li>
            <li class="tab"><a class="active" href="#doing">Lo que hacemos</a></li>
            <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
            <li class="tab"><a href="#test4">Ayuda</a></li>
        </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Sass</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">JavaScript</a></li>
    </ul>

    


    <div id="test2" class="col s24">
        <div class="section white">
            <div class="container">
                <div class="row">
                    <h2 class="teel-text text-accent-3"> <i class="fas fa-qrcode prefix"></i> QR Devices</h2>
                    <h3 class="teel-text text-accent-3"> Con Universidad Nacional de Trujillo</h3>
                </div>

                <div class="row">
                    <div class="col l6 s12">
                        <h3 class="light-blue-text text-darken-4">Registra, genera y escanea</h3>
                        <h3 class="teal-text text-darken-3">tu futuro tengnológico</h3>
                        <h3 class="green-text text-accent-4">con QR Device</h3>
                        <p class="grey-text text-darken-4">Nuestra visión para el año 2027 es ser líder en seguridad de dispositivos electrónicos mediante códigos QR en las Universidades del Perú, protegiendo y fortaleciendo la seguridad universitaria.</p>
                        <a href="#login" class="btn waves-effect waves-orange grey-text text-darken-4" style="background-color: #ECF8F9;">Inicia sesión</a>
                        <a href="#contac" class="btn waves-effect waves-green grey-text text-darken-4" style="background-color: #ECF8F9;">Contactar con ventas</a>
                    
                    </div>
                    <div class="col l6 s12">
                        <h3 class="white-text"> ¿Qué hacemos?</h3>
                        <div class="video-container">
                            <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="parallax-container" >
      <div class="parallax" ><img src="images/parallax/superior.jpg" alt="Unsplashed background img 2" style="transform: translate3d(50%, 350.4359px, 0px); opacity: 1; width: 100%; height: auto;"></div>
    </div>

    <div id="doing" class="col s24">
        <div class="section white">
            <div class="container">

                <div class="row">
                    <h2>Novedades tecnológicas</h2>
                    <div class="col 4 s4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/front/qr.png">
                            </div>
                            <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Tecnología de integración QR</span>
                            <p><a href="#">Conocer más de esto ...</a></p>
                            </div>
                            <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Tecnología de integración QR<i class="fa fa-circle-xmark posfix right"></i></span>
                            <p>Disponemos de un sistema de cifrado y descifrado de códigos QR para dispositivos registrados en nuestro sistema. Esta implementación proporciona una mayor seguridad para datos sensibles y permite procesos de control más rápidos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col 4 s4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/front/cloud.png">
                            </div>
                            <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Sistema de información en la nube</span>
                            <p><a href="#">Conocer más de esto ...</a></p>
                            </div>
                            <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Información en la nube <i class="fa fa-circle-xmark posfix right"></i></span>
                            <p>Nuestra información se encuentra distribuida en un clúster de computadoras en la nube, lo cual nos brinda un mayor nivel de seguimiento en caso de pérdida o robo de datos. Además, contamos con una base de datos escalable y flexible que se adapta a cualquier requerimiento específico de su negocio.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col 4 s4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/front/face.png">
                            </div>
                            <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Reconocimiento facial</span>
                            <p><a href="#">Conocer más de esto ...</a></p>
                            </div>
                            <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Reconocimiento facial<i class="fa fa-circle-xmark posfix right"></i></span>
                            <p>Ofrecemos un servicio de reconocimiento facial altamente preciso utilizando la tecnología más avanzada de inteligencia artificial. Nuestra solución garantiza el reconocimiento de los miembros sin ningún tipo de subjetividad, proporcionando resultados objetivos y confiables.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-container">
      <div class="parallax"><img src="images/parallax/moche2.jpg" alt="Unsplashed background img 2" style="transform: translate3d(50%, 300.4359px, 0px); opacity: 1;"></div>
    </div>


    <div id="login" class="col s12">
        <div class="section white">
            <div class="container login-container"> 
                <div class="card">
                    <div class="card-content">
                        {{{body}}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax-container">
      <div class="parallax"><img src="images/parallax/laptop.jpg" alt="Unsplashed background img 2" style="transform: translate3d(-100%, 72.4359px, 0px); opacity: 1;"></div>
    </div>

    <div id="about_us">
        {{> _footer}}
    </div>
   

    
    <!-- Compiled and minified JavaScript -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.21.0/ckeditor.js" integrity="sha512-ff67djVavIxfsnP13CZtuHqf7VyX62ZAObYle+JlObWZvS4/VQkNVaFBOO6eyx2cum8WtiZ0pqyxLCQKC7bjcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.32.0/js/jquery.fileupload.min.js" integrity="sha512-P7EUiLYW7QUrhYrLgaJ++ok2j2I7Pu0UgGnrpLowujPZicu7mIR0V/Trq+7kl/0nEkp6yNGh8eFJY1JUv3dkPA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js" integrity="sha512-/6TZODGjYL7M8qb7P6SflJB/nTGE79ed1RfJk3dfm/Ib6JwCT4+tOfrrseEHhxkIhwG8jCl+io6eaiWLS/UX1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $(document).ready(function(){
            $('.parallax').parallax();
        });
    </script>

    



</body>
</html>