<h3>
    <i class="fa-solid fa-qrcode"></i> QR Devices
</h3>
<div class="section">
    <p class="lead">Nosotros cuidamos por ustedes</p>
</div>
<div class="divider">

</div>
<div class="section" class="icons">
    
    <a href="/auth/google" class="btn light-blue lighten-5 grey-text text-darken-4 waves-effect waves-teal" data-icon="/images/google/google.png" class="left" alt="">
            <i class="fab fa-google left"></i> Inicia con Google        
    </a>
</div>







